@page
@model Lightaplusplus.Pages.InstructorOverviewModel
@{
    ViewData["Title"] = "Instructor Overview";
}


<div class="row">
    @for (var i = 0; i < 6; i++)
    {
        <div class="col-4" style="padding-bottom:5%">
        <component type="typeof(Components.InstructorClassComponent)" render-mode="Static" param-ClassNumber='"CS 0000"'
                param-ClassName='"Class Name"'
                param-StartTime='Convert.ToDateTime("10:00")' param-EndTime='Convert.ToDateTime("12:00")'
                param-Link='"/Welcome?id=7"' /> 
            </div>
        }
</div>
<div class="row">
    @foreach (var card in Model.sectionsTaught)
    {
        <div class="col-4" style="padding-bottom:5%">
            <component type="typeof(Components.InstructorClassComponent)" render-mode="Static" param-ClassNumber='card.Course.CourseNumber'
                       param-ClassName='card.Course.CourseName'
                       param-StartTime='Convert.ToDateTime(card.SectionTimeStart)' param-EndTime='Convert.ToDateTime(card.SectionTimeEnd)'
                       param-DaysTaught='card.DaysTaught'
                       param-Link='"/Welcome?id=7"' />
        </div>
    }
    }
</div>